.container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.input {
    height: 30px;
    padding: 5px;
}

.send {
    margin-left: 20px;
    height: 30px;
    border-radius: 15px;
    border: 0;
    box-shadow: 5px 5px 10px  rgba(230, 39, 39, 0.2);;
    background-color: rgb(157, 205, 245);
    padding: 0 10px;
}

.send:hover {
    background-color: rgb(47, 151, 236);

}

.send:active {
    border: solid 2px rgb(47, 151, 236);
    background-color: rgb(214, 232, 247);

}