* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container_Message {
    width: 60%;

}

.head {
    background-color: cornflowerblue;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.headButtons {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

